.settings_defaults-wrapper
  .settings_body
    .defaults_controls-wrapper
      .controls_container.controls_container--large
        .row.align-bottom
          .columns.small-2
            .input-field
              .field-label Minimum margin
              input(type="text")
          .columns.small-2
            .input-field
              .field-label MAximum margin
              input(type="text")
          .columns.small-2
            .input-field
              .field-label Fixed $
              input(type="text")
          .columns.small-2
            .input-field
              .field-label Default margin
              input(type="text")
          .columns.small-2
            .input-field
              .field-label Alternative 0 price
              .input-toggle_wrapper
                .input-toggle_box
                  input(type="text")
                  .input-toggle_toggle-area
                    input(id="alternativePrice",
                      type="checkbox",
                      (change)="onPriceSwitch($event)"
                      ).hidden-checkbox
                    label(for="alternativePrice")
                      .input-toggle_element(
                        data-checked="Yes",
                        data-unchecked="No"
                      )
                .tooltip-icon
                  i(aria-hidden="true").fa.fa-info

          .columns.small-2
            .input-field
              .field-label select Margin type
              input(type="text")

      .controls_container.controls_container--rest
        .row
          .columns.small-12
            .input-field
              .field-label discount table
              simple-select(
                [selectList]="[1,2,3,4,5]",
                [selectedItem]="1",
                (itemSelected)="onTableSelect($event)"
              )

  .settings_footer
    .row.align-middle.align-justify
      .columns.shrink
        .defaults_tax-settings.controls-holder
          .switcher-wrapper
            .can-toggle.filters-toggle
              input(id="taxesSwitcher" type="checkbox")
              label(for="taxesSwitcher")
                .can-toggle__switch(
                data-checked="Physical",
                data-unchecked="Digital")
          .select-holder
            simple-select(
              [selectList]="taxesList",
              [selectedItem]="taxesList[0]"
            )

      .columns.shrink
        .defaults_btns-row.controls-holder
          .select-holder
            simple-select(
              [selectList]="taxesList",
              [selectedItem]="taxesList[0]"
            )
          button.btn.btn--color-filled.btn--secondary(type="button")
            .inner-holder
              i.btn-icon.fa.fa-refresh(aria-hidden="true")
              span Reset ERP

          button.btn.btn--color-filled.btn--primary(type="button")
            .inner-holder
              i.btn-icon.fa.fa-check(aria-hidden="true")
              span Apply changes

