.filters-block_wrapper
  .filters-block_navigation
    .filters_main-navigation
      ul.filters_navigation-list
        li.filters_navigation-item(
          (click)="setActiveMainTab(filter)",
          *ngFor="let filter of tabsList; let i = index",
          [class.active]="mainActiveTab ? (filter.title === mainActiveTab) : (i === 0)"
        )
          .btn.navigation-btn
            | {{ filter.title }}
  .filters-block_main
    .filters_categories-navigation
      ul.filters_categories-list
        li.filters_category-item(
          (click)="setSecondMainTab(innerFilter)",
          *ngFor="let innerFilter of categoriesList; let i = index",
          [class.active]="secondActiveTab ? (innerFilter.title === secondActiveTab) : (i === 0)"
        )
          .btn.category-btn {{ innerFilter.title }}
      .filters_arrows-box
        .btn.arrow-btn.arrow-btn--prev
          svg.icon.svg-ic-table-arrow
            use(xlink:href="../../../../../assets/img/symbol-defs.svg#svg-ic-table-arrow")
        .btn.arrow-btn.arrow-btn--next
          svg.icon.svg-ic-table-arrow
            use(xlink:href="../../../../../assets/img/symbol-defs.svg#svg-ic-table-arrow")



    .filters_content-box
      section.filters_static-filters.row.align-middle.align-justify
        .columns.small-8
          ul.row.align-bottom
            li.columns.shrink
              button(type="button").btn.btn--bordered.btn_alert.btn_iconed
                .btn_icon-holder
                  i(aria-hidden="true").fa.fa-fire
                .btn_text-holder Whats new
            li.columns
              .filter-wrapper
                label select currency
                input(type="text",
                  name="currency"
                  )
            li.columns
              .filter-wrapper
                label language
                input(type="text",
                  name="language"
                  )
            li.columns
              .filter-wrapper
                label select month
                input(type="text",
                  name="month"
                  )
            li.columns.small-3
              .filter-wrapper
                label select pricelist
              .switcher-wrapper
                .can-toggle.filters-toggle
                  input(id="e" type="checkbox")
                  label(for="e")
                    .can-toggle__switch(
                      data-checked="Partner",
                      data-unchecked="Global")
        .columns.shrink
          ul.static-btns-list.row.collapse.align-bottom
            li.column
              .static-btns-holder
                .btn-holder
                  button(type="button").btn.btn--orange
                    i(aria-hidden="true").fa.fa-refresh
                    span Reset filters
                .btn-holder.additional-info-holder
                  button(type="button").btn.btn--blue
                    i(aria-hidden="true").fa.fa-share-square
                    span Import products
                  .additional-box.additional-box--top
                    dl.black-color
                      dt Total products:
                      dd 4,243
                  .additional-box.additional-box--bottom
                    dl
                      dt Last successful update:
                      dd 08/27/2018




      section.filters_dinamic-filters
        ul.row
          li.columns(
            *ngFor="let filter of dinamicFiltersList"
          )
            .filter-wrapper
              label {{ filter.label }}
              input(type="text",
                name="{{ filter.name }}"
              )

